postova_schranka_node_red_klimcikova.json
[{"id":"b8d20bc0.c43f88","type":"tab","label":"Schránka","disabled":false,"info":""},{"id":"42b15eaa.c350b","type":"mqtt in","z":"b8d20bc0.c43f88","name":"","topic":"ESP32/Schranka","qos":"2","datatype":"auto","broker":"438de98d.267ac8","nl":false,"rap":true,"rh":0,"x":180,"y":260,"wires":[["3537ff19.8405c"]]},{"id":"3537ff19.8405c","type":"function","z":"b8d20bc0.c43f88","name":"Logika odosielana sprav na E-mail","func":"\nif (msg.payload == \"1\")\n{\n    msg.topic = \"Schranka Dom Krasna Horka\";  //predmet emailu\n    msg.payload = \"Prisla posta.\";             //sprava\n      \n}\nelse{\n    return 0;\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":280,"wires":[["1652c538.b70c0b","786f23c0.b30a9c"]]},{"id":"1652c538.b70c0b","type":"e-mail","z":"b8d20bc0.c43f88","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"klimcikalena@gmail.com","dname":"Posielanie správ na E-mail","x":780,"y":280,"wires":[]},{"id":"786f23c0.b30a9c","type":"debug","z":"b8d20bc0.c43f88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":140,"wires":[]},{"id":"438de98d.267ac8","type":"mqtt-broker","name":"MQTT","broker":"192.168.1.108","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]